<body>
    <div class="container-fluid position-absolute" style="background:url(https://alfabetajuega.com/hero/2021/02/one-piece-barco.jpg?width=768&aspect_ratio=16:9&format=nowebp);">
       
        
    <h1 class="title text-center" style="color:rgb(12, 209, 22);"
      >Actividad Eje 2</h1>
    <p class="title text-center" style="color:rgb(12, 209, 22)">Taller para aprender el manejo y construccion de un modelo de desarrollo con la arquitectura MVC</p>
    <h2 class="title text-center" style="color:rgb(12, 209, 22)">Formulario de Estudiantes</h2>
   

<form-app></form-app>

