
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label  for="firstName">firstName</label>
        <input class="form-control" id="firstName" type="text" formControlName="firstName">
    </div>
    <div class="form-group">
        <label for="lastName">lastName</label>
        <input class="form-control" id="lastName" type="text" formControlName="lastName">
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <input class="form-control" id="address" type="text" formControlName="address">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" id="email" type="text" formControlName="email">
    </div>
    <div class="form-group">
        <label for="cell"> Cell</label>
        <input class="form-control" id="cell" type="number" formControlName="cell">
    </div>
    <div class="form-group">
        <label for="id"> Id</label>
        <input class="form-control" id="id" type="number" formControlName="id">
    </div>
    <button class="button" type="submit">Purchase</button>

</form>
<p>{{checkoutForm.value.firstName}}</p>